<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-C15PSCCGDB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-C15PSCCGDB');
  </script>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Healing calculator for New World. Try out item, stat, and mastery combinations and see how much you'd be healing for.">
  <meta property="og:description" content="Healing calculator for New World. Try out item, stat, and mastery combinations and see how much you'd be healing for.">
  <meta property="og:title" content="New World Healing Calculator">
  <meta property="og:image" content="https://massimino.pythonanywhere.com/images/healing_calc1.png">
  <meta property="og:url" content="https://www.nw-tools.info/" />
  <meta property="twitter:description" content="Healing calculator for New World. Try out item, stat, and mastery combinations and see how much you'd be healing for.">
  <meta property="twitter:title" content="New World Healing Calculator">
  <meta property="twitter:image" content="https://massimino.pythonanywhere.com/images/healing_calc1.png">
  <meta property="twitter:url" content="https://www.nw-tools.info/" />

  <link rel="shortcut icon" href="images/nwtk-cropped-white-nt.svg">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
  <script src="/js/healing_calc.js" type="text/javascript"></script>

  <title>New World Tools</title>

</head>

<body style="background-color: rgb(7, 7, 7)">

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZPBBXB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark py-2" style="background-color: #2d3844;border-bottom: 1px solid #495867;">
        <div class="container">
            <a href="/" class="navbar-brand pt-3" style="color: rgb(218, 218, 218);">
                <h4>
                    <img src="/images/nwtk-cropped-white-nt.svg" alt="" width="40" height="40" viewBox="0 0 40 40"><span class="px-3">New World Tools</span>
                </h4>

            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item px-2" style="border-right: 2px solid #495867;">
                        <a href="/damage-calc" class="nav-link" style="color: slategray;">Damage Calculator</a>
                    </li>
                    <li class="nav-item px-2" style="border-right: 2px solid #495867;">
                        <a href="/healing-calc" class="nav-link" style="color: slategray;">Healing Calculator</a>
                    </li>
                    <li class="nav-item px-2" style="border-right: 2px solid #495867;">
                        <a href="/healing-calc-ptr" class="nav-link" style="color: slategray;">Healing Calculator</a>
                        <div class="notification-dc">PTR</div>
                    </li>
                    <li class="nav-item px-2">
                        <a href="/damage-calc#credits" class="nav-link" style="color: slategray;">Credits</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="background-color: rgb(20, 20, 20);">

        <!-- How To -->
        <section class="pt-3">
          <div class="container text-light text-center">
            <h2 style="text-align:center;">Healing Calculator</h2>
          </div>
        </section>

        <!-- Forms -->
        <section class="py-3">
          <div class="container">
            <div class="row g-4">
              <!-- Attributes Column -->
              <div class="col-lg-3">
                <div class="card bg-dark text-light" style="background-color: rgb(58, 48, 44);border: 1px solid #495867;">
                    <div class="card-body">
                        <h3 class="card-title text-center border-bottom pb-2" style="text-shadow: 3px 3px black;">
                            Character Info
                        </h3>
                        <div class="row">
                            <label for="focus" class="col-md-7 col-form-label"><h5>Focus:</h5></label>
                            <div class="col-md-5">
                                <input type="number" name="focus" class="form-control" id="focus" value=5>
                            </div>
                            <label for="level" class="col-md-7 col-form-label"><h5>Level:</h5></label>
                            <div class="col-md-5">
                                <input type="number" name="level" class="form-control" id="level" value=60>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-2 pb-2"></div>

                <div class="card bg-dark text-light" style="border: 1px solid #495867;">
                    <div class="card-body">
                        <div class="h3 text-center border-bottom pb-2" style="text-shadow: 3px 3px black;">
                            Equip Load<i class="px-2 bi-question-circle-fill" id="equip_load_tooltip"></i>
                        </div>
                        <div class="row px-3">
                            <select class="form-select" id="equip_load">
                                <option value="Heavy">Heavy</option>
                                <option value="Medium">Medium</option>
                                <option value="Light">Light</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row pt-2 pb-2"></div>

                <!-- Ring -->
                <div class="card bg-dark text-light" style="border: 1px solid #495867;">
                    <div class="card-body">
                        <div class="h3 text-center border-bottom pb-2" style="text-shadow: 3px 3px black;">
                            Sacred Ring
                        </div>
                        <img src="/images/ruby_ring.png" class="center d-md-block" alt="">

                        <!-- GS -->
                        <div class="row pt-1">
                            <div class="col-md-7 px-4">
                              <h4 class="card-title text-left pt-1">
                                <b>
                                  Gear Score:
                                </b>
                              </h4>
                            </div>
                            <div class="col-md-5 pt-3">
                              <input type="number" name="gs" class="form-control" id="ring_gs" value=600 onchange="document.getElementById('ring_gs_slider').value = this.value;">
                            </div>
                        </div>
                        <div class="row px-4 pb-3 pt-2">
                            <input type="range" class="form-range gs_slider" min="100" max="625" step="1" id="ring_gs_slider" value="600">
                        </div>

                        <div class="pt-1">
                            <div class="row px-2">
                                <div class="col-1">
                                  <input class="form-check-input mt-3 mr-5" type="checkbox" value="" id="sacred_check" checked>
                                </div>
                                <div class="col-10 mt-1">
                                    <label for="sacred_check">
                                        <h4>
                                            <img src="/images/sacred.png" style="max-width: 19%;height: auto;" id="sacred_icon" alt="">

                                          <span class="px-2 pt-2" id="sacred_text">Sacred: 8.5%</span>
                                        </h4>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

              </div>
              <!-- Life Staff -->
              <div class="col-lg-9">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="card bg-dark text-light" style="border: 1px solid #495867;">
                        <div class="card-body">
                            <h3 class="card-title text-center pb-2 border-bottom" style="text-shadow: 3px 3px black;">
                                Life Staff
                            </h3>

                            <img src='/images/lifestaff.png' class="legendary-backgroun" alt="">

                            <!-- Gem -->
                            <div class="row">
                                <div class="col-md-9 px-4">
                                  <h4 class="card-title text-left pt-1">
                                    <b>
                                      Gear Score:
                                    </b>
                                  </h4>
                                </div>
                                <div class="col-md-3">
                                  <input type="number" name="gs" class="form-control" id="weapon_gs" value=600 onchange="document.getElementById('weapon_gs_slider').value = this.value;">
                                </div>
                            </div>
                            <div class="row px-4 pb-3 pt-2">
                                <input type="range" class="form-range gs_slider" min="100" max="625" step="1" id="weapon_gs_slider" value="600">
                            </div>

                            <div class="row">
                                <div class="col-md-7 px-4 pb-2">
                                  <h4 class="card-title text-left pt-1">
                                    <b>
                                      Gem Type:<i class="px-2 bi-question-circle-fill" id="gem_type_tooltip"></i>
                                    </b>
                                  </h4>
                                </div>
                                <div class="col-md-5">
                                    <select class="form-select" id="lifestaff_gem">
                                        <option value="none_gem">None</option>
                                        <option value="diamond_t2">T2 Diamond</option>
                                        <option value="diamond_t3">T3 Diamond</option>
                                        <option value="diamond_t4">T4 Diamond</option>
                                        <option value="diamond_t5">T5 Diamond</option>
                                      </select>
                                </div>
                            </div>

                            <div class="row pb-2">
                                <div class="col-md-8 px-3 pt-1 text-left">
                                  <div class="row px-2">
                                    <div class="col-1">
                                      <input class="form-check-input mt-3 mr-5" type="checkbox" value="" id="blessed_check" checked>
                                    </div>
                                    <div class="col-10">
                                        <label for="blessed_check">
                                            <h4>
                                                <img src="/images/blessed.webp" style="max-width: 23%;height: auto;" id="blessed_icon" alt=""><span class="px-2 pt-2" id="blessed_text">Blessed: 20%</span>
                                              </h4>
                                        </label>
                                    </div>
                                  </div>
                                </div>
                            </div>

                            <div class="border-top">
                                <h3 class="text-center pt-2">
                                    Passives
                                </h3>
                                <div class="row pt-2">
                                    <div class="col-md-3">
                                        <p class="text-center d-none d-xl-block pt-3 pb-2">Bend Light</p>
                                        <input type="checkbox" id="bend_light" style="display: none;">
                                        <label for="bend_light" id="bend_light_label" class="skill-circle center" style="background-image: url('/images/bend_light.webp"');'></label>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="text-center d-none d-xl-block">Intensify<input type="number" id="intensify_stacks" class="stacks" min=0 max=3 style="width: 40px;" value=0></p>
                                        <input type="checkbox" id="intensify" style="display: none;">
                                        <label for="intensify" id="intensify_label" class="skill-circle center" style="background-image: url('/images/intensify.webp');"></label>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="text-center d-none d-xl-block">Protector's Strength</p>
                                        <input type="checkbox" id="protectors_strength" style="display: none;">
                                        <label for="protectors_strength" id="protectors_strength_label" class="skill-circle center" style="background-image: url('/images/protectors_strength.webp');"></label>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="text-center d-none d-xl-block">Diving Blessing</p>
                                        <input type="checkbox" id="divine_blessing" style="display: none;">
                                        <label for="divine_blessing" id="divine_blessing_label" class="skill-circle center" style="background-image: url('/images/divine_blessing.png');"></label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="card bg-dark text-light" style="border: 1px solid #495867;">
                        <div class="card-body">
                            <h3 class="card-title text-center pb-2 border-bottom" style="text-shadow: 3px 3px black;">
                                Outgoing Healing<i class="px-2 bi-question-circle-fill" id="outgoing_tooltip"></i>
                            </h3>
                            <div class="row pt-2">
                                <div class="col-4">
                                    <div style="background-image: url('/images/blissful_touch.webp');" id="light_attack" class="ability-circle" alt=""></div>
                                </div>
                                <div class="col-8">
                                    <div class="row"><h4><strong>Light Attack</strong></h4></div>
                                    <div class="row">
                                        <h5>Heals for: <span class="healing"><b id="light_attack_outgoing">1000</b><b>HP</b></span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-4">
                                    <div style="background-image: url('/images/divine_embrace.webp');" id="divine_embrace" class="ability-circle" alt=""></div>
                                </div>
                                <div class="col-8">
                                    <div class="row"><h4><strong>Divine Embrace</strong></h4></div>
                                    <div class="row">
                                        <h5>Heals for: <span class="healing"><b id="divine_embrace_outgoing">1000</b><b>HP</b></span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-4">
                                    <div style="background-image: url('/images/sacred_ground.webp');" id="sacred_ground" class="ability-circle" alt=""></div>
                                </div>
                                <div class="col-8">
                                    <div class="row"><h4><strong>Sacred Ground</strong></h4></div>
                                    <div class="row">
                                        <h5>Heals for: <span class="healing"><b id="sacred_ground_outgoing">1000</b><b>HP/s</b></span> (12s)</h5>
                                        <h5 id="sg_blessed">Anointed: <input class="form-check-input" type="checkbox" value="" id="sg_blessed_check" checked></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-4">
                                    <div style="background-image: url('/images/splash_of_light.png');" id="splash_of_light" class="ability-circle" alt=""></div>
                                </div>
                                <div class="col-8">
                                    <div class="row"><h4><strong>Splash of Light</strong></h4></div>
                                    <div class="row">
                                        <h5>Heals for: <span class="healing"><b id="splash_of_light_outgoing">1000</b><b>HP</b></span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-4">
                                    <div style="background-image: url('/images/orb_of_protection.png');" id="orb_of_protection" class="ability-circle" alt=""></div>
                                </div>
                                <div class="col-8">
                                    <div class="row"><h4><strong>Orb of Protection</strong></h4></div>
                                    <div class="row">
                                        <h5>Heals for: <span class="healing"><b id="orb_of_protection_outgoing">1000</b><b>HP</b></span></h5>
                                        <h5>Recovery: <span class="healing"><b id="recovery_outgoing">1000</b><b>HP/s</b></span> (10s)</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-4">
                                    <div style="background-image: url('/images/lights_embrace.png');" id="lights_embrace" class="ability-circle" alt=""></div>
                                </div>
                                <div class="col-8">
                                    <div class="row"><h4><strong>Light's Embrace</strong></h4></div>
                                    <div class="row">
                                        <h5>Heals for: <span class="healing"><b id="lights_embrace_outgoing">1000</b><b>HP</b></span></h5>
                                        <h5>Target Buffs: <input type="number" id="lights_embrace_buffs" class="stacks" min=0 max=9 style="width: 40px;" value=0></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-4">
                                    <div style="background-image: url('/images/beacon.png');" id="beacon" class="ability-circle" alt=""></div>
                                </div>
                                <div class="col-8">
                                    <div class="row"><h4><strong>Beacon</strong></h4></div>
                                    <div class="row">
                                        <h5>Heals for: <span class="healing"><b id="beacon_outgoing">1000</b><b>HP/s</b></span> (10s)</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </form>
        </section>

        <section class="py-4 text-light">
            <div class="container">
              <!-- How is this Calculated? -->
              <h2 class="text-center pb-3">
                How Is This Calculated?
              </h2>

              <div class="card bg-dark text-light" style="border: 1px solid #495867;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                          <div class="container border-bottom">
                            <p class="lead pt-3">
                              <i><b>Outgoing healing</b></i> is the sum of your outgoing healing bonuses, multiplied by your <i><b>healing power</b></i>. <i><b>Received healing</b></i> is this value multiplied by the sum of the recipients incoming healing bonuses, like Divine.
                            </p>
                          </div>
                          <div class="container pt-2">
                            <p class="lead">
                                <i><b>Healing power</b></i> is determined by your focus, level, and lifestaff's gear score, similar to weapon damage:
                                <br><div class = 'lead' style='text-align: center;'><i>Healing Power = GS-Based Damage * (1 + (1 - Level) * 2.5% + Focus Mod Sum)</i></div>
                                <div class = 'lead pt-2'><i>GS-based damage</i> is the base damage (displayed as nature damage) of your lifestaff, divided by 1.07.<br>
                                For each point of focus, your <i>focus mod sum</i> increases by the following amounts:
                                </div>
                            </p>

                            <div class="container">
                                <table class="table text-light">
                                    <thead>
                                      <tr>
                                        <td>Points Range</td>
                                        <td>% Increase</td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>6-100</td>
                                        <td>+3.25%</td>
                                      </tr>
                                      <tr>
                                        <td>101-150</td>
                                        <td>+2.6%</td>
                                      </tr>
                                      <tr>
                                        <td>151-200</td>
                                        <td>+2.34%</td>
                                      </tr>
                                      <tr>
                                        <td>201-250</td>
                                        <td>+2.08%</td>
                                      </tr>
                                      <tr>
                                        <td>251-300</td>
                                        <td>+1.82%</td>
                                      </tr>
                                      <tr>
                                        <td>301+</td>
                                        <td>+1.56%</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>

                          </div>
                        </div>
                      </div>

                </div>
              </div>
            </div>
          </section>

    </div>

    <!-- Footer -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center" style="background-color: #2d3844;border-top: 1px solid #495867;">
        <div class="container py-5">
            <div class="row border-top">
                <div class="col-4 d-flex align-items-center">
                    <img src="/images/nwtk-cropped-white-nt.svg" alt="" width="40" height="40" viewBox="0 0 40 40"><span class="px-3">
                    <div class="d-none d-md-block">
                        <p class="lead px-1 pt-3 text-light"><b>New World Tools</b></p>
                    </div>
                </div>
                <div class="col-8 d-flex align-items-center justify-content-end">
                    <a href="" style="text-decoration:none;" target="_blank">
                        <p class="lead pt-4 g-5 px-2 text-light">NW Tools</p>
                    </a>
                    <a href="" target="_blank">
                        <i class="bi bi-discord" style="font-size: 2rem;color:white"></i>
                    </a>
                    <div class="px-3"></div>
                    <a href="https://discord.gg/QAHzt2dm88" style="text-decoration:none;" target="_blank">
                        <p class="lead pt-4 g-5 px-2 text-light">Warpath</p>
                    </a>
                    <a href="https://discord.gg/QAHzt2dm88" target="_blank">
                        <i class="bi bi-discord" style="font-size: 2rem;color:white"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <a href="/damage-calc" style="text-decoration:none;color: slategrey;">
                        <p>• Damage Calculator</p>
                    </a>
                    <a href="/healing-calc" style="text-decoration:none;color: slategrey;">
                        <p>• Healing Calculator</p>
                    </a>
                </div>
            </div>
        </div>
    </footer>

</body>


<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({html:true});
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>