:root {
  --legendary: rgb(247, 162, 45);
  --epic: rgb(255, 22, 247);
  --rare: rgb(0, 203, 233);
  --uncommon: rgb(7, 192, 47);
  --common: rgb(200, 200, 200);
  --healing: 74, 190, 74;
}

img {
  max-width: 100%;
  height: auto;
}
  
div.card.wd {
  outline: 2px solid whitesmoke;
  background-color: #2d3844;
}

.nav-item {
  position: relative;
}

.notification-dc {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  top: -6px;
  left: 140px;
  background-color: var(--legendary);
  border-radius: 5px;
  padding-left: 6px;
  padding-right: 6px;
}

.notification-red {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  top: -6px;
  left: 140px;
  background-color: red;
  border-radius: 5px;
  padding-left: 6px;
  padding-right: 6px;
}

.weapon-icon {
  width: 90px;
  border: 1px solid var(--legendary);
  background: linear-gradient(360deg,rgba(247, 162, 45,.5) 0,rgba(0,0,0,.5) 100%);
}

.notification-card {
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  background-color: rgb(238, 231, 139);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

.tooltip-inner {
  background: #333;
  max-width: 400px;
  /* If max-width does not work, try using width instead */
  width: 400px; 
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #333;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #333;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #333;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #333;
}

.tooltip-inner.tooltip-perk {
  background: red;
  max-width: 100px;
  /* If max-width does not work, try using width instead */
  width: 100px; 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hidden {
  display: none;
}

.legendary-background {
  background-image: url("/static/images/cloudy4.png");
  background-size: cover;
  border: 1px solid rgb(var(--legendary));
}

.skill-circle {
  background: black;
  background-size: cover;
  border-radius: 50%;
  border: 3px solid white;
  width: 100px;
  height: 100px;
  opacity: 0.3;
}

.skill-circle-small {
  background: black;
  background-size: cover;
  border-radius: 50%;
  border: 3px solid white;
  width: 80px;
  height: 80px;
  opacity: 0.3;
}

.ability-circle {
  background: black;
  background-size: cover;
  border-radius: 50%;
  border: 3px solid white;
  width: 100px;
  height: 100px;
}

:checked+label {
  opacity: 1;
  border: 3px solid lightskyblue;
}

.stacks {
  background: none;
  border: none;
  color: white;
}

.stacks:focus {
  outline: none;
}

input[type="checkbox"]:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.healing {
  color: rgb(var(--healing));
}

.gem {
  background: black;
  border-radius: 50%;
  border: 3px solid rgb(105, 96, 66);
}

.gem_big {
  scale: 0.5;
  position: absolute;
  left: 300px;
  top: 155px;
  z-index: 1;
}

.col-modifiers {
  display: none;
}

@media screen and (max-width: 1280px) {

  .row-modifiers {
    display: none;
  }

  .col-modifiers {
    display: flex;
  }
}